# **FOR LOOP**
##### For loop are iterable

### **syntax:**

my_iterable =[1,2,3]

**for item_name in my_iterable:**

        print(item_name) #item_name can choose anything

#### **FOR _ LIST:**

In [30]:
item =[1,2,3]
for it in item:
    print(it)
print("============")
for list in item:
    print(list)

1
2
3
============
1
2
3

In [7]:
item = [1,2,3,4,5,6,7,8,9,10]
for list in item:    #print even number
    if list % 2 == 0:
        print(list)
    else:
        #print("odd number: ", list)
        print(f"odd number : {list}")

odd number : 1
2
odd number : 3
4
odd number : 5
6
odd number : 7
8
odd number : 9
10

In [9]:
add_sum = 0
for sum in item:
    add_sum = add_sum +sum
    print(f"sum of {sum} is {add_sum}") #white spaces shows its in loop 
print("============")
print(f"sum of all number is {add_sum}")

sum of 1 is 1
sum of 2 is 3
sum of 3 is 6
sum of 4 is 10
sum of 5 is 15
sum of 6 is 21
sum of 7 is 28
sum of 8 is 36
sum of 9 is 45
sum of 10 is 55
============
sum of all number is 55

In [10]:
#common things
for _ in 'hello': #it will print 5 times(5 letters in hello)
    print("hello")
#'_' is a throwaway variable ,common syntax

hello
hello
hello
hello
hello

In [23]:
#print letter in string
str = "hello world"
for _ in str:
    print(_)

h
e
l
l
o

w
o
r
l
d

#### **FOR _ TUPLES :**

In [14]:
#tuples
tup =(1,2,3)    
i =0
for _ in tup:
    print("tup[",i,"] :",tup[i])
    i += 1

tup[ 0 ] : 1
tup[ 1 ] : 2
tup[ 2 ] : 3

In [17]:
#Tuple packing and unpacking
tup = (1,2,3)
a,b,c = tup
print(a)

1

In [28]:
#tuple and list
list = [(1,2,3),(4,5,6),(7,8,9)]
len(list)
for _ in list:
    print(_)
#tuple unpacking
print("Below example is tuple unpacking")
for (a,b,c) in list:
    print(a)
    print(b)
    print(c)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Below example is tuple unpacking
1
2
3
4
5
6
7
8
9

In [29]:
#tuple unpacking
print("Below example is tuple unpacking")
for a,b,c in list:  #without parenthesis
    print(a)
    print(b)
    print(c)

Below example is tuple unpacking
1
2
3
4
5
6
7
8
9

#### **FOR _ DICTIONARIES :**

In [31]:
#Dictionary
dict = {'k1':1,'k2':2,'k3':3}
for _ in dict:
    print(_) #print only keys

k1
k2
k3

In [34]:
print("=====items=======")
for _ in dict.items():
    print(_) #print key and value
print("=====key and value=======")
for k,v in dict.items():
    print(k)
    print(v)
print("=====value=======")
for _ in dict.values():
    print(_) #print only values

=====items=======
('k1', 1)
('k2', 2)
('k3', 3)
=====key and value=======
k1
1
k2
2
k3
3
=====value=======
1
2
3