# **TUPLES**

***Will check how Tuples and list are diff***

In [6]:
T = ('a','b','c')
T

('a', 'b', 'c')

In [4]:
mylist = ['a','b','c']
mylist

['a', 'b', 'c']

In [8]:
type(mylist)

list

In [9]:
type(T)

tuple

****update the tuple****

In [10]:
T = ('one',2,3.0)

In [11]:
T

('one', 2, 3.0)

In [12]:
T[2]

3.0

In [13]:
T[-1]

3.0

In [16]:
T = (1,2,1,2,2)

In [ ]:
T.count(2) #How many times does 2 appear in T?

3

In [ ]:
T.index(2) #INDEX -POSTION of first occurances

1

***Will re-assign for tuple and list***

In [20]:
Mylist = [1,2,3]
Mylist

[1, 2, 3]

In [ ]:
Mylist[0] = 100  #reassigning the first element
Mylist

[100, 2, 3]

In [23]:
#T[2] = 4
#T[2] = 4 #This will not work because T is a tuple and tuples are immutable